<h1>New Phone</h1>

<%= render 'form', phone: @phone %>

<% p_id = @phone.person_id %>
<%= link_to 'Show', @phone %> |
<%= link_to('Person Detail', person_detail_path(p_id)) + ' | ' if p_id %>
<%= link_to 'List', phones_path %>
