<h5>Phones</h5>

<div class='container'>
  <table class='table table-sm table-bordered table-hover'>
    <thead class='thead-light'>
      <tr>
        <th>Phone</th>
        <th>Locn</th>
        <th>Preferred</th>
        <th>Msg Capable</th>
      </tr>
    </thead>

    <tbody>
      <% @person.phones.each do |p| %>
        <tr>
          <td><%= p.ph_number %></td>
          <td><%= p.locn %></td>
          <td><%= p.preferred %></td>
          <td><%= p.txt_capable %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
