<div class="form-group row mb-3">
    <%= form.label(
            my_field,
            class: "col-sm-2 col-form-label" ) %>
    <%= form.collection_select(
            my_field,
            my_collection, :id, my_display,
            include_blank: true,
            class: "custom-select col-sm-3" ) %>
</div>
