<div class="form-group row">
  <% label = my_label %>
  <% obj   = my_label.classify.constantize.find(my_id) %>
  <% display_val = obj.send(my_display) %>

  <%= form.hidden_field my_field %>
  <%= form.label my_field, label,
                  class: "col-sm-2 col-form-label" %>
  <div class="pt-2">
    <%= display_val %>
  </div>
</div>
