<div class="row mb-3">
  <div class="field col-sm">
    <%= form.label my_field %>
    <%= form.select my_field, collection,
                  { include_blank: true,
                    class: "custom-select" } %>
  </div>
</div>
