<div class="row mb-3 ml-1">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><%= my_label %></span>
    </div>
    <%= form.text_area my_field,
              class: 'form-control', 'aria-label': "With textarea" %>
  </div>
</div>
