<h1>New Ownership</h1>

<%= render 'form', ownership: @ownership %>

<%= link_to 'House Detail', house_detail_path(@ownership.house_id) %>
<% if false %> |
  <%= link_to 'List', ownerships_path %>
<% end %>
