<h1>New Ownership</h1>

<%= render 'form', ownership: @ownership %>

<% h_id = @ownership.house_id %>
<%= link_to 'Show', @ownership %> |
<%= link_to('House Detail', house_detail_path(h_id)) + ' | ' if h_id %>
<%= link_to 'List', ownerships_path %>
