<% if false %>
  <h1>New Ownership</h1>
<% else %>
  <h1>New Owner</h1>
<% end %>

<%= render 'form', ownership: @ownership %>

<%= link_to 'House Detail', house_detail_path(@ownership.house_id) %>
<% if false %>
  | <%= link_to 'List', ownerships_path %>
<% end %>
