<h1>New Contribution</h1>

<%= render 'form', contribution: @contribution %>

<%= link_to 'House Detail', house_detail_path(@contribution.house_id) %>
<% if false %> |
  <%= link_to 'List', contributions_path %>
<% end %>
