<h1>Editing Email</h1>

<%= render 'form', email: @email %>

<%= link_to 'Show', @email %> |
<%= link_to 'Person Detail', person_detail_path(@email.person_id) %>
<% if false %> |
  <%= link_to 'List', emails_path %>
<% end %>
