<h1>New Email</h1>

<%= render 'form', email: @email %>

<% p_id = @email.person_id %>
<%= link_to 'Show', @email %> |
<%= link_to('Person Detail', person_detail_path(p_id)) + ' | ' if p_id %>
<%= link_to 'List', emails_path %>
