<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">WWNA</a>


  <% if current_user.nil? %>
    <%= link_to new_user_session_path, class: 'login-button' do %>Log in<% end %>
  <% else %>
    <%= render "layouts/navbar_user" %>
    <%= link_to destroy_user_session_path, method: :delete do %>Log out<% end %>
  <% end %>

</nav>
