<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Person Admin
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
  <%= link_to "Addresses", addresses_path, class: "dropdown-item" %>
  <%= link_to "Emails", emails_path, class: "dropdown-item" %>
  <%= link_to "Phones", phones_path, class: "dropdown-item" %>
</div>
