      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="personLnks" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Person Admin</a>
        <div class="dropdown-menu" aria-labelledby="personLnks">
          <a class="dropdown-item">
            <%= link_to "Addresses", addresses_path %>
          </a>
          <a class="dropdown-item">
            <%= link_to "Emails", emails_path %>
          </a>
          <a class="dropdown-item">
            <%= link_to "Phones", phones_path %>
          </a>
        </div>
      </li>
