<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Property Admin
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
  <%= link_to "Ownerships", ownerships_path, class: "dropdown-item" %>
  <%= link_to "Contributions", contributions_path, class: "dropdown-item" %>
</div>
