<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  User
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	<%= link_to destroy_user_session_path, class: 'nav-link', method: :delete do %>Log out<% end %>
	<div class="dropdown-divider"></div>
	<%= link_to edit_user_registration_path, class: 'nav-link' do %>Edit Profile<% end %>
</div>
